<h1>Listings</h1>
<div class= "d-flex flex-wrap justify-content-around">
  <% @listings.each do |listing| %>
    <div class="card me-5 mb-3" style="width: 18rem;">
      <% if !listing.photo.attached? %>
        <%= image_tag("http://via.placeholder.com/50", width: 150, height: 150, crop: "fill", class: 'card-img-top img-fluid')%>
      <% else %>
        <%= cl_image_tag listing.photo.key, width:150, height: 150, crop: "fill", class: "card-img-top img-fluid", alt: "Photo of goods" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %></h5>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">By: <%= link_to listing.user.name, listings_show_users_path(listing.user) %></p>
        <%= link_to 'View', listing, class: "btn btn-primary text-light" %>
        <% if listing.user_id == current_user.id %>
          <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-primary text-light" %>
          <%= link_to 'Remove', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary text-light bg-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
<% if current_user.has_role? :grandma%>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
