  
<h1>Listings for <%=@grandma.name%></h1>
<% if current_user.id != @grandma.id %>
  <%= link_to 'Message me!', direct_message_path(@grandma) %>
<% end %>
<div class= "d-flex flex-wrap justify-content-center">
  <% @listings.each do |listing| %>
    <div class="card me-5 mb-3" style="width: 18rem;">
      <%= cl_image_tag listing.photo.key, width:150, height: 150, :crop=>"fill", class: "card-img-top img-fluid", alt: "Photo of goods" %>
      <div class="card-body">
        <h5 class="card-title"><%= listing.name %></h5>
        <p class="card-text"><%= listing.description %></p>
        <%= link_to 'View', listing, class: "btn btn-primary text-light" %>
        <% if listing.user_id == current_user.id %>
          <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-primary text-light" %>
          <%= link_to 'Remove', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary text-light bg-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
