<h1>New Conversation</h1>
<%= form_with url: conversations_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :users%>
    <%= f.collection_select :user_id, @users, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :subject%>
    <%= f.text_field :subject%>
  </div>
  <div class="field">
    <%= f.label :body%>
    <%= f.text_area :body%>
  </div>
  <div class="field">
    <%= f.submit :message%>
  </div>
<% end %>
