<div class="card text-center">
  <h1>New Message to <%=@user.name%></h1>
  <%= form_with url: direct_message_path(@user), method: :post do |f| %>
    <div class="field">
      <%= f.label :subject%>
      <%= f.text_field :subject%>
    </div>
    <div class="field">
      <%= f.label :body%>
      <%= f.text_area :body%>
    </div>
    <div class="field">
      <%= f.submit :message%>
    </div>
  <% end %>
</div>
