<div class="card text-center">
  <h1><%= @conversation.subject %></h1>
  <% @conversation.receipts_for(current_user).each do |r|%>
    <div class="bg-info">
      <div><%=r.message.sender.name%> said:</div>
      <p><%=r.message.body%></p>
    </div>
  <% end %>
  <%= form_with url: conversation_messages_path(@conversation), method: :post do |f|%>
    <br>
    <div>
      <%=f.text_field :reply, placeholder: "Reply here!"%>
    </div>
    <br>
    <div>
      <%=f.submit :reply, class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
