<!DOCTYPE html>
<html>
  <head>
    <title>Only Grans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <%= image_tag 'only-grans-logo.png', width: "200", height:"50", class:"d-inline-block align-text-top" %>
          </a>
        </div>
        <span><%= link_to 'Home', root_path, class: "nav-link"%></span>
        <% if current_user %>
          <span><%= link_to 'Profile', profile_path, class: "nav-link" %></span>
          <span><%= link_to 'Listings', listings_path, class: "nav-link" %></span>
          <span><%= link_to 'Messages', conversations_path, class: "nav-link" %></span>
          <span><%= link_to 'Orders', orders_path, class: "nav-link" %></span>
        <% end %>
        <% if !current_user %>
          <span><%= link_to 'Login', new_user_session_path, class: "nav-link" %></span>
          <span><%= link_to 'Signup', new_user_registration_path, class: "nav-link" %></span>
        <% else %>
          <span><%= link_to current_user.name + ' | Logout', destroy_user_session_path, method: :delete, class: "nav-link" %></span>
        <% end %>
      </nav>
    </header>
    <h2 class="notice bg-info bg-gradient text-center"><%= notice %></h2>
    <% if alert %>
      <p class="alert bg-danger bg-gradient"><%= alert %></p>
    <% end %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
