<!DOCTYPE html>
<html>
  <head>
    <title>Src</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <% if !current_user %>
          <span><%= link_to 'Login', new_user_session_path %></span>
          <span><%= link_to 'Signup', new_user_registration_path %></span>
        <% else %>
          <span><%= current_user.email %></span>
          <span><%= link_to 'Logout', new_user_registration_path %></span>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
